$sat-agro: #263340;
$sat-agro-white: rgba(255, 255, 255, 0.95);
$sat-agro-green: #a4bd8e;
$sat-agro-greener: #819b6f;
$sat-agro-green-darker:#719155;
$sat-agro-green-dark: #5a5957;
$sat-agro-logo-green: #469343;

$breakpoint-desktop: 1024px;
