@font-face {
    font-family: Akaya;
    src: url(./fonts/AkayaKanadaka-Regular.ttf);
}

@import "./scss/variables.scss";

body {
    margin: 0;
    position: relative;
    font-family: 'Akaya', "Lato", "PT Sans Narrow", "Raleway", sans-serif;
    width: 100%;
    overflow-x: hidden;
    color: $sat-agro;
    font-size: 16px;
}

.background {
    opacity: .9;
    position: fixed;
    z-index: -1;
    min-width: 100%
}

@import "./scss/top-bar.scss";
@import "./scss/price-plan.scss";
